@using EmailProject.Models;

@model IndexModel;

@{
    var listMailBoxes = Model.ListMailBoxes;
}

<div class="mailBox customScroll">
    <ul>
        @foreach(var mb in listMailBoxes)
        {
            <li class="unactive"><a asp-controller="Home" asp-action="MailBox" asp-route-filter="@mb.Name">@mb.Name</a></li>
            

        }
        


    </ul>
    @{
        int num = 0;
    }
    @if (Model.ListEmails != null)
    {
        @foreach (var e in Model.ListEmails)
        {
            num++;
            string id = e.Uid;
            string from = e.From.ToString();
            string subject = e.Subject;
            string date = e.Date.ToString();

            string text = $"{num}. {from} | {subject} | {date}";

            <div class="blok customScroll">

                <a asp-controller="Home" asp-action="SelectEmail" asp-route-emailId="@id">@text</a>
               
            </div>
        }
    }


</div>
