@model AE.Net.Mail.MailMessage;
@{
    string subject = Model.Subject;
    string from = Model.From.ToString();
    string date = Model.Date.ToString();

    string body = Model.Body;
    string? to = Model.To.FirstOrDefault().ToString();

}

<div class="mailSubject"><h1>@subject</h1></div>

<div class ="mailSubject"><h2>@from  ---> @to      | @date </h2></div>

<div class="mailBody customScroll">@body</div>